<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<H1>Kurs Spring</H1>
<p>Hello Thymeleaf</p>
<p></p>
<!--<p th:text="${name}"></p>-->
<!--<p th:text="${car.getMark()}"></p>-->
<!--<p th:text="${car.getModel()}"></p>-->

<tr th:each="car:${cars}">
    <td th:text="${car.getMark()}"/>
    <br/>
    <td th:text="${car.getModel()}"/>
    <br/>
    <p>---------------------------</p>
</tr>
<br>
<br>
<br>

<form th:action="@{/add}" th:object="${newCar}" method="post">
    <p> Model: <input type="text" th:field="*{model}"></p>
    <p> Mark: <input type="text" th:field="*{mark}"></p>
    <p><input type="submit" value="add new car"></p>
</form>

</body>
</html>